/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
/* reset css */
html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, input, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    font: inherit;
    box-sizing: border-box;
}
/*====================================================  
DOCUMENT 
====================================================*/
:root {
	--white: #fff;
	--black: #000;
	--secondary: #213458;
	--primary: #1FA187;
	--warning: #FFFAEC;
	--dark-gray: #696969;
	--light-gray: #E6E6E6;
	--input-border: #ced4da;
	--bg-gray: #FCFCFD;
	--yellow: #FFA800;
	--theme-shadow: 0 3px 20px rgba(0,0,0,0.1);
}
a {text-decoration: none}
.btn {
	color: var(--white);
	background: var(--primary);
	border-radius: 8px;
	padding: 10px 20px;
	border: 1px solid var(--primary);
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}
.btn-outline {
	background: var(--white);
	color: var(--primary);
}
.btn:hover {
	color: var(--white);
}
.btn-outline:hover {
	color: var(--primary);
}
.btn:focus {
	box-shadow: none !important;
}
html {
	font-family: 'Poppins', sans-serif;
	font-size: 18px;
	line-height: 1.6rem;
	overflow-x: hidden;
	scroll-behavior: smooth;
	animation-delay: 0.5; 
	font-weight: 400;
}
.dark-gray {color: var(--dark-gray)}
.top-message {
	background: var(--warning);
	padding: 10px;
	font-size: 14px;
	line-height: 24px;
}
.top-message img {
	height: 16px;
	margin-right: 10px;
	position: relative;
	top: -2px;
}
.top-message a {
	color: var(--black);
}
::selection {
	color: var(--white);
	background: var(--primary);
}
.dropdown-menu {
	box-shadow: var(--theme-shadow);
	border: 0;
}
input:focus,
textarea:focus,
.form-control:focus,
.form-check-input:focus {
	box-shadow: none;
	border-color: initial;
}
h1.section-title {
	color: var(--secondary);
	font-size: 30px;
	font-weight: 600;
}
::-webkit-scrollbar {
  width: 8px;
  margin-right: 6px;
}
::-webkit-scrollbar-track {
 	background: var(--light-gray);
  border-radius: 0;
  transition: 0.3s;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--dark-gray); 
  border-radius: 0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}


/*==================================================== 
NAVIGATION BAR 
====================================================*/
.navbar .navbar-brand img {
	height: 62px;
}
.navbar .nav-item .nav-link {
	color: var(--black);
}
.navbar .nav-item {
	margin-left: 30px;
}
.navbar .dropdown-menu {
	font-size: 16px;
}
.navbar .login-btn a {
	padding: 10px 30px;
}

/*====================================================
FOOTER
====================================================*/
footer {
	font-size: 14px;
}
footer .divider {
	width: 100%;
	height: 1px;
	background-color: var(--light-gray);
	margin-bottom: 50px;
}
footer .footer-social {margin-top: 30px}
footer .footer-social a {
	margin-right: 10px;
}
footer .footer-social a img {
	height: 30px;
}
footer .site-language {
	margin-top: 50px;
	font-size: 14px;
}
footer h5 {
	font-weight: 600;
	color: var(--primary);
	margin-bottom: 15px;
	font-size: 14px;
}
footer .site-language a {
	text-decoration: none;
	color: var(--dark-gray);
	margin-bottom: 6px;
	display: inline-block;
}
footer .footer-links a {
	display: block;
	color: var(--dark-gray);
	text-decoration: none;
	margin-bottom: 10px;
}
footer .footer-links a:hover {
	text-decoration: underline;
}
footer .footer-logo img {width: 75%}
footer .copyright {
	border-top: 1px solid var(--light-gray);
	padding: 20px 0;
	margin-top: 40px;
}

/*====================================================  
SEARCH PAGE
====================================================*/
/* HERO SECTION */
.hero {
	background: url('assets/img/search/bg.jpg') no-repeat;
	background-size: cover;
}
.hero-title {
	margin-top: 90px;
	font-size: 50px;
	color: var(--white);
	font-weight: 600;
	line-height: 64px;
}
.hero-search {margin: 30px 0}
.hero-search input {
	border-color: var(--white);
	border-left: 0;
	border-right: 0;
	padding: 15px 80px 18px 0;
	border-top-right-radius: 10px !important;
	border-bottom-right-radius: 10px !important;
}
.hero-search input:focus {
	border-color: #fff;
}
.hero-search .btn {
    position: absolute;
    right: 9px;
    border-radius: 8px !important;
    z-index: 9;
    top: 50%;
    transform: translateY(-50%);
    padding: 8px 20px;
}
.hero-search .input-group-text {
	background: var(--white);
	border-radius: 10px;
	border-color: var(--white);
}
.recent-searches {
	margin-top: 20px;
	font-size: 14px;
	color: var(--white);
}
.recent-searches p {
	opacity: 0.5;
	margin-bottom: 10px;
}
.recent-searches a {
	text-decoration: underline;
	margin-right: 20px;
	color: var(--white);
}

/* EMPTY SEARCH */
.empty-search {
	padding: 70px 0;
	font-size: 24px;
	color: var(--dark-gray);
}

/*==========================================================
SEARCH RESULTS PAGE
==========================================================*/
/* FILTER SWITCH BOX */
.filter-switch-box {
	padding: 24px 30px;
	background: var(--white);
	border-radius: 10px;
	box-shadow: var(--theme-shadow);
}
.filter-switch {
	margin-top: -50px;
	position: relative;
}
.filter-switch-box .switches {
    font-size: 16px;
    color: var(--dark-gray);
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.filter-switch-box .switches .form-switch {
	margin-right: 30px;
}
.filter-switch-box .switches .form-check-input:focus {
	border-color: var(--primary);
}
.filter-switch-box .switches .form-check-input:focus {
	border-color: var(--dark-gray);
	box-shadow: none;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='white'/%3e%3c/svg%3e");
	background-repeat: no-repeat;
}
.filter-switch-box .switches .form-check-input {
	background-color: var(--dark-gray);
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='white'/%3e%3c/svg%3e");
	background-repeat: no-repeat;
	border: 0;
	height: 20px;
    width: 36px;
    margin-right: 6px;
}
.filter-switch-box .switches .form-check-input:checked {
	background-color: var(--primary);
	border-color: var(--primary);
	background-repeat: no-repeat;
}
.filters {
	text-align: right;
}
.filters .clear-filters {
	font-size: 16px;
	color: var(--secondary);
	text-decoration: underline;
	margin-right: 10px;
}
.filters .btn img {
	height: 20px;
	margin-bottom: 4px;
}
/* FILTERS */
.openNav, .closeNav {
  cursor: pointer;
}
.closeNav {
    border-radius: 8px;
    box-shadow: 0 3px 6px rgb(0 0 0 / 15%);
    padding: 10px 20px;
    background: var(--black);
    color: var(--white);
    transition: 0.3s;
    font-size: 16px;
}
.closeNav svg {
  width: 24px;
  height: 24px;
}
.filters-box {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1030;
  top: 0;
  right: 0;
  background: var(--white);
  overflow-x: hidden;
  transition: 0.5s;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.filters-box .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.filters-box-content {
  display: none;
  padding: 70px 50px;
}
.body-overlay {
	position: fixed;
	background: rgba(0,0,0,0.5);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	backdrop-filter: blur(6px);
	z-index: 8;
	display: none;
}

/* SEARCH SNAPSHOT */
.search-snapshot h1.section-title {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.search-snapshot {
	padding: 50px 0;
}
.search-snapshot .details-btn img {
	height: 16px;
	margin-left: 3px;
	margin-bottom: 2px;
}
.snapshot-results {
	padding: 20px 20px 0;
	background: var(--bg-gray);
	border: 1px solid var(--light-gray);
	border-radius: 10px;
	margin-top: 30px;
}
.snapshot-results .accordion-item {
	border-radius: 10px;
	box-shadow: var(--theme-shadow);
	overflow-x: hidden;
	border: 0;
	margin-bottom: 20px;
}
.snapshot-results .accordion-button:not(.collapsed)::after {
    background-image: url(assets/icons/chevron-down-white.svg);
    background-size: 16px;
    filter: none;
    width: 16px;
    margin: 0;
    height: 13px;
    position: absolute;
    right: 20px;
    top: 36%;
}
.snapshot-results .accordion-button.collapsed::after {
  	background-image: url(assets/icons/chevron-down-white.svg);
    background-size: 16px;
    filter: none;
    width: 16px;
    margin: 0;
    height: 13px;
    position: absolute;
    right: 20px;
    top: 40%;
}
.snapshot-results .accordion-button,
.snapshot-results .accordion-button:not(.collapsed) {
	box-shadow: none;
	color: var(--white);
	font-size: 20px;
	font-family: var(--ax-semibold);
	background: var(--secondary);
	font-weight: 600;
	display: block;
}
.snapshot-results .accordion-header span {
	display: inline-block;
}
.snapshot-results .accordion-header span.results {
	color: var(--white);
	opacity: 0.7;
	font-size: 14px;
	font-weight: 400;
	text-align: right;
	padding-right: 34px;
	display: block;
	line-height: 20px;
	position: relative;
	top: 5px;
}
.snapshot-results .accordion-item .accordion-body .item {
	border: 1px solid var(--light-gray);
	background: var(--bg-gray);
	border-radius: 4px;
	padding: 5px 6px;
	font-size: 12px;
	color: var(--dark-gray);
	display: block;
	line-height: 20px;
	transition: 0.2s;
}
.snapshot-results .accordion-item .accordion-body .view-more {margin-top: 10px}
.snapshot-results .accordion-item .accordion-body .item:hover {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}
.snapshot-results .accordion-item .accordion-body .view-more a {
	color: var(--primary);
	font-size: 14px;
}

/* SEARCH DETAILS */
.search-details {
	margin-top: 20px;
	padding-bottom: 40px;
}
.search-details-cards {
	margin-top: 30px;
}
.search-detail-card {
	border-radius: 10px;
	border: 1px solid var(--light-gray);
	background: var(--bg-gray);
	transition: 0.2s;
}
.search-detail-card:hover {
	border-color: var(--primary);
	box-shadow: var(--theme-shadow);
}
.search-detail-card .course-body {padding: 20px}
.search-detail-card .course-by {
	background-color: var(--primary);
	display: inline-block;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	font-size: 12px;
	padding: 3px 10px;
	margin: 15px 0 4px;
	color: var(--white);
}
.search-detail-card .institute-name {
	color: var(--white);
	background-color: var(--secondary);
	padding: 4px 10px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	font-size: 14px;
	display: inline-block;
}
.search-detail-card .course-type {
	background: var(--yellow);
	border-radius: 6px;
	color: var(--white);
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
	position: absolute;
	right: 0;
	padding: 6px 20px;
	margin-top: 10px;
	margin-right: 10px;
	font-size: 14px;
}
.search-detail-card .course-name {
	color: var(--secondary);
	font-size: 24px;
	margin-bottom: 20px;
	font-weight: 600;
	display: block;
}
.search-detail-card .short-desc {
	color: var(--dark-gray);
	font-size: 14px;
}
.search-detail-card .course-meta {
	margin: 16px 0;
	border-top: 1px solid var(--light-gray);
	border-bottom: 1px solid var(--light-gray);
	padding: 10px 0;
	font-size: 12px;
}
.search-detail-card .course-meta img {
	height: 20px;
}
.search-detail-card .course-tags a {
	color: var(--primary);
	border: 1px solid var(--primary);
	padding: 3px 10px;
	font-size: 12px;
	border-radius: 6px;
	display: inline-block;
	margin: 0 4px 10px;
	transition: 0.2s;
}
.search-detail-card .course-tags a:hover {
	background: var(--primary);
	color: var(--white);
}

/* CAREER TRACK */
.career-track {
	padding: 40px 0 80px;
}
.career-track-box {
	background-color: var(--bg-gray);
	border-radius: 10px;
	border: 1px solid var(--light-gray);
	padding: 30px;
}
.career-track h1 {
	font-size: 24px;
	color: var(--secondary);
	font-weight: 600;
}
.career-track-btns {margin-top: 24px}
.career-track-btns .btn {
	font-size: 14px;
	margin-right: 15px;
	display: inline-block;
	margin-bottom: 15px;
	padding: 10px;
}
.career-track-btns .btn img {
	margin-right: 10px;
}
.career-track-box .subscription-box {
	border-radius: 10px;
	padding: 30px 40px 40px;
	background-color: var(--white);
	border: 1px solid var(--light-gray);
}
.career-track-box .subscription-box form {
	padding: 24px 70px;
}
.career-track-box .subscription-box .input-group-text {
	background: var(--white);
	border-radius: 10px;
}
.career-track-box .subscription-box .input-group-text img {
	height: 20px;
	filter: brightness(100%);
}
.career-track-box .subscription-box input {
	font-size: 14px;
	border-top-right-radius: 10px !important;
	border-bottom-right-radius: 10px !important;
	border-left: 0;
	padding-left: 0;
}
.career-track-box .subscription-box input:focus {
	border-color: var(--input-border);
}
.career-track-box .subscription-box .btn {
	border-radius: 10px !important;
	font-size: 14px;
}
.career-track-box .subscription-box a {
	color: var(--primary);
	font-size: 14px;
	display: block;
	text-align: center;
}